body {
    background-color: #1a1a1a;
    font-family: 'Nunito', sans-serif; }

::selection {
    color: #ffffff;
    background: #404040; }

::-moz-selection {
    color: #ffffff;
    background: #404040; }

dt {
    font-size: 30px;
    font-weight: bold; }

dd {
    font-size: 20px;
    font-weight: bold; }

dt, dd, a:hover { color: #bfbfbf; }

p {
    padding-right: 20px;
    font-size: 15px; }

.box {
    background-color: #3a3a3a;
    border-radius: 5px;
    padding: 10px; }

.container { padding-top: 10px; }